/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

 /* .wp-block-gutenberg-examples-example-05-recipe-card-esnext{
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: red;
	align-content: center;
	text-align: center;
} */

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image {
	background: white;
	float: right;
	width: 50%;
	min-height: 100px;
	text-align: center;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image button {
	margin-top: 30px;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image button.image-button {
	margin: 0;
	padding: 0;
	display: block;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image img {
	display: block;
	z-index: 1;
	position: relative;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext h2 {
	font-size: 1.5em;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext ul {
	padding-left: 2.5em !important; /* Needs fix in Gutenberg. */
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext:after { 
	content:""; 
	clear:both; 
	display: table; 
}
