/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-gutenberg-examples-example-03-editable-esnext {
	color: white;
	background: lightgray;
	border: 2px solid gray;
	padding: 20px;
}
